= render "shared/errors", object: @donor

.row
  = form_for @donor, layout: :basic do |f|
    .col-md-6
      = f.text_field :first_name
    .col-md-6
      = f.text_field :last_name
    .col-md-3
      = f.select :gender, options_for_select(Donor.genders.collect { |t| [t[0].humanize, t[0]] }, selected: @donor.gender)
    .col-md-3
      = f.text_field :date_of_birth, class: 'birthdatepicker', data: { "date-format" => "DD/MM/YYYY" }, value: (f.object.date_of_birth? ? f.object.date_of_birth.strftime("%d/%m/%Y") : "")
    .col-md-3
      = f.select :donor_type, options_for_select(Donor.donor_types.collect { |t| [t[0].humanize, t[0]] }, selected: @donor.donor_type)
    .col-md-3
      = f.select :level, options_for_select(Donor.levels.collect { |t| [t[0].humanize, t[0]] }, selected: @donor.level)
    .col-md-6
      = f.text_field :pan_card_no
    .col-md-6
      = f.text_field :trust_no
    .col-md-4
      = f.text_field :mobile
    .col-md-4
      = f.text_field :telephone
    .col-md-4
      = f.text_field :email
    .col-md-6
      = f.text_area :address, rows: 4
    .col-md-6
      = f.text_field :city
      = f.text_field :pincode
    .col-md-6
      = f.text_field :state
    .form-group.col-md-6
      %label{:for => "donor_country_code"} Country
      = f.country_select("country_code", {priority_countries: ["IN"]}, class: "form-control")
    .col-md-3
      = f.select :contact_frequency, options_for_select(Donor.contact_frequencies.collect { |t| [t[0].humanize, t[0]] }, selected: @donor.contact_frequency)
    .col-md-3
      = f.select :preferred_communication_mode, options_for_select(Donor.preferred_communication_modes.collect { |t| [t[0].humanize, t[0]] }, selected: @donor.preferred_communication_mode)
    .col-md-3
      = f.check_box :solicit
    .col-md-12
      = f.text_area :remarks
    .actions.col-md-12
      = f.submit
