.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th.col-md-4 Name
        %th.col-md-2 Contact No.
        %th.col-md-1 Email
        %th.col-md-1 Solicit
        %th.col-md-1 Type
        %th.col-md-1 Status
        %th.col-md-2 Controls
    %tbody
      - donors.each do |donor|
        %tr
          %td= link_to donor.full_name, donor_path(donor)
          %td
            %div= donor.mobile.present? ? "#{donor.mobile} (M) " : ""
            %div= donor.telephone.present? ? "#{donor.telephone} (T)" : ""
          %td= mail_to donor.email
          %td= donor.solicit.humanize
          %td= donor.donor_type.humanize
          %td= donor.status.humanize
          %td
            = link_to 'Edit', edit_donor_path(donor), class: "btn btn-primary"
            = link_to 'Remove', donor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%br
.text-center
  = paginate donors