.panel.panel-default
  .panel-heading.clearfix
    %h2.panel-title.pull-left= donor.full_name
    = link_to "Edit Donor Details", edit_donor_path(donor), class: "pull-right"
  .panel-body
    %p= raw donor.contact_info
    %p= donor.full_address

    .panel.panel-default
      .panel-heading
        %h3.panel-title Donations
      %table.table.table-striped
        %thead
          %tr
            %th Date
            %th Type
            %th Thanked?
        %tbody
          - donations.each do |donation|
            %tr
              %td= link_to l(donation.date, format: :formal), donation
              %td= donation.type_cd.humanize
              %td= donation.thank_you_sent.humanize



