- content_for :head do
  :css
    table td:last-child {
      letter-spacing: 1px;
      font-size: 14px;
    }


.page-header
  %h1
    = donor.full_name
    %small= link_to "Edit Info", edit_donor_path(@donor), class: "btn btn-link"

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Bio
      .panel-body
        %table.table.table-hover
          %tbody
            %tr
              %td.col-md-5 Gender
              %td.col-md-7= donor.gender.humanize
            %tr
              %td DOB
              %td= donor.date_of_birth.strftime("%d/%m/%Y") rescue nil
            %tr
              %td Type:
              %td= donor.donor_type.humanize
            %tr
              %td Level:
              %td= donor.level.humanize
            %tr
              %td Pan card no:
              %td= donor.pan_card_no
            %tr
              %td Trust no:
              %td= donor.trust_no

            %tr
              %td Solicit:
              %td= donor.solicit ? "Yes" : "No"
            %tr
              %td Contact frequency:
              %td= donor.contact_frequency.humanize
            %tr
              %td Preferred communication mode:
              %td= donor.preferred_communication_mode.humanize

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Contact Info
      .panel-body
        %table.table.table-hover
          %tbody
            %tr
              %td Mobile:
              %td= donor.mobile
            %tr
              %td Telephone:
              %td= donor.telephone
            %tr
              %td Email:
              %td= donor.email
            %tr
              %td Address:
              %td= donor.address
            %tr
              %td City:
              %td= donor.city
            %tr
              %td Pincode:
              %td= donor.pincode
            %tr
              %td State:
              %td= donor.state
            %tr
              %td Country:
              %td
                = Country.find_country_by_alpha2(donor.country_code).try(:name)

.row
  .col-md-12
    %table.table.table-hover
      %tbody
        %tr
          %td.col-md-2 Remarks:
          %td.col-md-10= donor.remarks
