= link_to "Edit Info", edit_donor_path(@donor), class: "btn btn-link pull-right"
%h1= @donor.full_name

.row
  .col-md-6
    %table.table.table-hover
      %tbody
        %tr
          %td Gender
          %td= @donor.gender.humanize
        %tr
          %td Gender
          %td= @donor.date_of_birth.strftime("%d/%m/%Y")
        %tr
          %td Type:
          %td= @donor.donor_type.humanize
        %tr
          %td Level:
          %td= @donor.level.humanize
        %tr
          %td Pan card no:
          %td= @donor.pan_card_no
        %tr
          %td Trust no:
          %td= @donor.trust_no

        %tr
          %td Solicit:
          %td= @donor.solicit ? "Yes" : "No"
        %tr
          %td Contact frequency:
          %td= @donor.contact_frequency.humanize
        %tr
          %td Preferred communication mode:
          %td= @donor.preferred_communication_mode.humanize
        %tr
          %td Remarks:
          %td= @donor.remarks

  .col-md-6
    %table.table.table-hover.col-md-6
      %tbody
        %tr
          %td Mobile:
          %td= @donor.mobile
        %tr
          %td Telephone:
          %td= @donor.telephone
        %tr
          %td Email:
          %td= @donor.email
        %tr
          %td Address:
          %td= @donor.address
        %tr
          %td City:
          %td= @donor.city
        %tr
          %td Pincode:
          %td= @donor.pincode
        %tr
          %td State:
          %td= @donor.state
        %tr
          %td Country:
          %td= @donor.country.name


