%h1 Change Password
%hr

= render partial: "shared/errors", locals: { object: @person }

= form_for @person, url: change_password_people_path, method: :post, layout: :basic do |f|
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.submit "Update"
