/ = render "shared/errors", object: @purchase

= simple_nested_form_for @purchase, html: { id: "purchase-form" } do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-6
        .form-group
          = f.input :purchase_date, as: :string, input_html: {class: "form-control datepicker", data: { "date-format" => "DD/MM/YYYY" }, value: l(@purchase.purchase_date || Date.today, format: :formal)}
          = f.input :vendor, input_html: {class: "form-control"}
          = f.input :remarks, input_html: {class: "form-control"}
          = f.input :person_id, input_html: {class: "form-control", style: "width: 100%;", data: {"init-text" => (@purchase.creator_email || current_person.email)}, value: current_person.id, id: "volunteer_select2"}

      .col-xs-6
        .form-group
          = render "shared/transaction_items_panel", f: f

  .form-actions
    = f.button :submit, "#{@purchase.new_record? ? 'Add purchase' : 'Update purchase'}", class: "btn btn-primary", data: {disable_with: "Submitting..."}

