.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Upcoming Birthdays
      .panel-body
        - if @donors.empty?
          %p No upcoming birthdays
        - else
          %table.table
            %tbody
              - @donors.each do |donor|
                %tr
                  %td= link_to donor.full_name, donor_path(donor)
                  %td= l(donor.date_of_birth, format: :formal)

  .col-md-6
    .panel.panel-default
      .panel-heading.clearfix
        %h3.panel-title.pull-left Needs
        = link_to "Download", needs_items_path(format: :csv), class: "pull-right"
      .panel-body
        - if @needs.empty?
          %p Everything is awesome!
        - else
          #needs-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            - @needs.each_with_index do |(category_name, items), index|
              .panel.panel-default
                .panel-heading{:role => "tab", :id => "heading#{index}"}
                  %a{"aria-controls" => "collapse#{index}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index}"}
                    %h4.panel-title
                      = category_name
                .panel-collapse.collapse.in{"aria-labelledby" => "heading#{index}", :role => "tabpanel", :id => "collapse#{index}"}
                  .panel-body
                    %table.table
                      %thead
                        %tr
                          %th.col-md-3 Item
                          %th.col-md-3 Min Quantity
                          %th.col-md-3 Stock Quantity
                          %th.col-md-2 Wishlist
                          %th.col-md-1 Cost
                      %tbody
                      - items.each do |item|
                        %tr
                          %td= item.name
                          %td= "#{item.minimum_quantity} #{item.unit}"
                          %td= "#{item.stock_quantity} #{item.unit}"
                          - wishlist_quantity = item.minimum_quantity - item.stock_quantity
                          %td= wishlist_quantity
                          %td= wishlist_quantity * item.current_rate

.row
  .col-md-12
    .panel.panel-default
      .panel-heading.clearfix
        %h3.panel-title.pull-left Call for actions
        = text_field_tag "donors", "", id: "donor-new-call-for-action", class: "col-md-3 pull-right"
        %span.pull-right{ style: "padding-top: 1px;" } New Call For Action:
      .panel-body
        - if @call_for_actions.empty?
          %p No pending call for actions
        - else
          %table.table
            %thead
              %tr
                %th.col-md-2 Date
                %th.col-md-2 Donor
                %th.col-md-8 Remarks
            %tbody
              - @call_for_actions.each do |call_for_action|
                - donor = call_for_action.donor
                %tr
                  %td= link_to l(call_for_action.date_of_action, format: :formal), donor_call_for_action_path(donor, call_for_action)
                  %td= link_to donor.full_name, donor_path(donor)
                  %td= call_for_action.remarks
