= simple_form_for @donation do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-6
        .form-group
          = f.input :donor_id, input_html: {class: "form-control", hidden: true, style: "width: 100%;", data: {"init-text" => (@donation.donor_full_name rescue '')}}
          = f.input :date, as: :string, input_html: {class: "form-control datepicker", data: { "date-format" => "DD/MM/YYYY" }, value: Date.today.strftime("%d/%m/%Y")}
          = f.input :type_cd, label: "Type", collection: [['Cash', 'cash'], ['Kind', 'kind']], selected: @donation.type_cd
          = f.input :amount, input_html: {class: "form-control"}
          = f.input :item_id, input_html: {class: "form-control", hidden: true, style: "width: 100%;", data: {"init-text" => (@donation.item_identifier rescue '')}}
          = f.input :quantity, input_html: {class: "form-control"}
          = f.input :remarks, input_html: {class: "form-control"}
          = f.input :person_id, input_html: {class: "form-control", hidden: true, style: "width: 100%;", data: {"init-text" => (@donation.acceptor_email rescue current_person.email)}, value: current_person.id}

      .col-xs-6
        #donation_donor
          - if @donation.donor
            = render "donors/show", donor: @donation.donor

  .form-actions
    = f.button :submit, "#{current_page?(new_donation_path) ? 'Add Item' : 'Update Item'}", class: "btn btn-primary"

