= wicked_pdf_image_tag "logo.png", class: "logo"

.small-text
  Children’s Home:   Bal Asha Dham, Anand Niketan, Dr. E. Moses Road, Mahalaxmi, Mumbai

.small-text{style: "margin-top: 5px;"}
  Phone nos: 24926526 / 24944090 | Email: balashatrust@gmail.com

.small-text{style: "margin-top: 5px;"}
  Website: www.balashatrust.org | Registration No. Under Public Trust Act – E10416

.small-text{style: "margin-top: 5px;"}
  Kind donation do not qualify for IT exemption.

.small-text{style: "margin-top: 5px;"}
  Donations in by cheque/cash are exempted from Tax as per section 80G.

%hr

%p{style: "text-align: center;"} KIND DONATION RECEIPT

.pull-left{style: "width: 300px;"}

  %p= "Date: #{@donation.date.strftime('%d/%m/%y')}"

  %p{style: "margin-bottom: 5px;"}= @donor.full_name
  %p{style: "margin-top: 5px;"}= @donor.full_address

.pull-right{style: "margin-right: 50px;"}
  %p= "Receipt no K/#{@donation.receipt_number}"

.clearfix

%p= "Dear #{@donor.full_name},"

%p Greetings from Bal Asha Trust!

%p
  We want to extend our heartfelt thank you for your donation. Our work aiding abandoned and destitute children depends upon the support of people like you.
  %span Your donation will help us to give quality care to the children.

%p The details of your kind donation are:

%table{border: 1, cellspacing: 0, style: "width: 100%;"}
  %thead
    %tr
      %th{style: "width: 10%"} Sr. No
      %th{style: "width: 70%"} Item
      %th{style: "width: 20%"} Quantity
  %tbody
    - @donation.transaction_items.each_with_index do |transaction_item, i|
      %tr
        %td= i + 1
        %td= transaction_item.item.name
        %td= transaction_item.quantity

%p Thank you for your generous donation and support to the children.
