!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Bal Asha Trust", :name => "description"}
    %meta{:content => "Bal Asha Trust", :name => "author"}

    %title Bal Asha Trust
    = wicked_pdf_stylesheet_link_tag "pdf_non_kind_receipt"

  %body
    .super-container
      .container{:style => "padding: 40px 40px 0 40px"}
        .row.header-row
          %div{:style => "width: 290px; margin-top: 10px;"}
            = wicked_pdf_image_tag "non_kind_receipt_logo.png", width: 260
          %div{:style => "width: 285px;"}
            %p
              %strong Registered Office:
              Bal Asha Trust,
              401 Charlie-Ville, A Road,
              Churchgate, Mumbai - 400020. India.
            %p.no-bottom-margin
              %strong T:
              +91 99309 88899
            %p.no-bottom-margin
              %strong E:
              donate@balashatrust.org
          %div{:style => "width: 350px; margin-left: 5px;"}
            %p
              %strong Destitute Children’s Home:
              Bal Asha Dham, King George V Memorial, Dr. E Moses Road, Mahalaxmi, Mumbai 400011, India.
            %p.no-bottom-margin
              %strong W:
              balashatrust.org
            %p.no-bottom-margin
              = wicked_pdf_image_tag "insta_logo.png", style: "width: 10px"
              %strong :
              balashatrust

        %hr
        %br

        .container
          .row
            .col-xs-12
              .receipt-sub-header{:style => "margin-bottom: 10px;"}
                %strong= "RECEIPT NO.: #{@donation.receipt_number}"

          .row{:style => "font-size: 16px;"}
            .col-xs-12
              %p= "Dear #{@donor.full_name},"
              %p
                Thank you for your contribution of
                %b= "&#8377;#{"%.2f" % @donation.amount} (#{@donation.amount_in_words} Only).&nbsp;".html_safe
                Individual contributions like yours, help us to continue doing the work we do. Please find below, details of your donation.

          %br

          .row
            .col-xs-12
              .receipt-sub-header{:style => "margin-top: 0px; margin-bottom: 10px;"}
                %strong DONATION DETAILS

          .row.donation-details
            .col-xs-3
              %p.no-bottom-margin Date of Issue:
              %p
                %strong= @donation.date.strftime("%B %d, %Y")
            .col-xs-6
              %p.no-bottom-margin Donor name:
              %p
                %strong= @donor.full_name
            .col-xs-3
              %p.no-bottom-margin Payment Method:
              %p
                %strong= @donation.type_cd.upcase

          .row.donation-details
            .col-xs-3
              %p.no-bottom-margin Amount:
              %p
                %strong= "&#8377;#{"%.2f" % @donation.amount}".html_safe
            .col-xs-9
              %p.no-bottom-margin In words:
              %p
                %strong= "#{@donation.amount_in_words} Only"

          .row.donation-details
            .col-xs-12
              %p.no-bottom-margin Remarks
              %p
                %strong= @donation.remarks.presence || "-"

      = wicked_pdf_image_tag "non_kind_receipt_footer.png", class: "footer-image"