.page-header
  %h1
    Donation details
    %small= link_to "Edit Donation Info", edit_donation_path(@donation), class: "btn btn-link"
    - if @donor
      %small= link_to "Edit Donor Info", edit_donor_path(@donor), class: "btn btn-link"
      %small= link_to "PDF Receipt", print_donation_path(@donation, format: :pdf), target: "_blank", class: "btn btn-link"

.row
  .col-md-6
    .row
      .col-md-12
        %table.table.table-hover
          %tbody
            %tr
              %td Auto ID
              %td= @donation.token
            %tr
              %td.col-md-5 Date
              %td.col-md-7= @donation.date.strftime("%d/%m/%Y")
            %tr
              %td Receipt Number
              %td= @donation.receipt_number
            %tr
              %td Donation type
              %td= @donation.type_cd.humanize
            - unless @donation.kind?
              %tr
                %td Amount
                %td= "%.2f" % @donation.amount
            - if @donation.cheque? || @donation.neft?
              %tr
                %td Payment details
                %td= @donation.payment_details
            %tr
              %td Remarks
              %td= @donation.remarks

      - if @donation.kind?
        .col-md-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title Kind Donation Details
            %table.table.table-striped
              %thead
                %tr
                  %th Item
                  %th Rate
                  %th Quantity
              %tbody
                - @donation.transaction_items.each do |transaction_item|
                  %tr
                    %td= transaction_item.item.try(:name)
                    %td= transaction_item.rate
                    %td= transaction_item.quantity

  .col-md-6
    .row
      .col-md-12
        %h5= @donor.try(:full_name)
        %p= raw @donor.try(:contact_info)
        %p= @donor.try(:full_address)

    %hr

    .row
      .col-md-12
        %h5 Comments:

      .col-md-12
        = render @donation.comments

      .col-md-12
        = form_for [@donation, @donation.comments.build], layout: :basic do |f|
          = f.hidden_field :person_id, value: current_person.id
          = f.hidden_field :commentable_type, value: @donation.class.name
          = f.hidden_field :commentable_id, value: @donation.id
          = f.text_area :content, required: true, label: "New comment:", placeholder: "Enter comment here"
          = f.submit "Comment"

