%h3 New Meal Booking
%br

= simple_form_for(@booking) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-12.col-md-6.col-lg-4
        .form-group
          = f.input :date, as: :string, input_html: { class: "form-control datepicker" }
          = f.association :meal_option, collection: MealOption.all, prompt: "Choose an option"
          = f.input :status, collection: MealBooking.statuses.keys.map { |s| [s.humanize, s] }, prompt: "Choose a status", input_html: { class: "form-control" }
          = f.input :donation_id, input_html: {class: "form-control"}
          = f.input :comment, input_html: {class: "form-control", rows: 2}

  .form-actions
    = f.button :submit, "Create Booking", class: "btn btn-primary", data: {disable_with: "Submitting..."}
    = link_to 'Back', meal_bookings_path, class: "btn btn-secondary"
