.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th.col-md-2 Name
        %th.col-md-2 Category
        %th.col-md-1 Current Rate (per unit)
        %th.col-md-1 Minimum Quantity
        %th.col-md-1 Stock Quantity
        %th.col-md-3 Remarks
        %th.col-md-2 Controls
    %tbody
      - items.each do |item|
        %tr
          %td= item.name
          %td= item.category_name
          %td= item.current_rate
          %td= item.minimum_quantity
          %td= item.stock_quantity
          %td
            - if item.remarks
              = item.remarks
            - else
              = link_to "Add remarks for better visibilty", edit_item_path(item)
          %td
            = link_to 'Edit', edit_item_path(item), class: "btn btn-primary"
            = link_to 'Remove', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%br
.text-center
  = paginate items
