%p#notice= notice


= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path


- @item.versions.each do |version|
  %div
    %b= Person.find(version.whodunnit).email
    changed on #{version.created_at.strftime("%d %b, %Y")} To
    %span.label.label-default= version.reify.next_version.stock_quantity rescue ""
