.row.hidden-print
  .col-md-8
    = search_form_for @search, url: reports_audit_path, method: :get, class: "form-inline", id: "audit_search" do |f|
      .row
        .form-group.col-md-4
          .input-group.col-md-12
            = f.text_field :date_daterange, class: "form-control daterangepicker"
        .form-group.col-md-3
          .input-group.col-md-12
            = f.text_field :receipt_number_cont, placeholder: "Receipt Number", class: "form-control text-filter"
        .form-group.col-md-3
          .input-group.col-md-12
            = f.text_field :donor_first_name_or_donor_last_name_cont, placeholder: "Donor Name", class: "form-control text-filter"
        .form-group.col-md-2
          .input-group.col-md-12
            = f.text_field :amount_eq, placeholder: "Amount", class: "form-control text-filter"
  .col-md-4
    .pull-right.clearfix
      = link_to "Download", reports_audit_path(params.merge(format: :csv)), class: "btn btn-link"
      = link_to "Print", "javascript:void(0)", onlick: "window.print()", class: "btn btn-link print-page"

%br

#audit_listing
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th.col-md-2 Receipt No
          %th.col-md-1 Date
          %th.col-md-2 Name
          %th.col-md-1 Identification
          %th Address
          %th.col-md-1 Amount
          %th.col-md-1 Mode
      %tbody
        - @donations.each do |donation|
          %tr
            %td
              %b= donation.receipt_number
            %td= l(donation.date, format: :formal)
            %td= donation.donor.try(:full_name)
            %td= donation.donor.try(:identification_type)
            %td= donation.donor.try(:full_address)
            %td= donation.amount
            %td= donation.type_cd.titleize
