.row
  .col-md-8
    = form_tag reports_donation_acknowledgements_path, method: :get, class: "form-inline", id: "donation-acknowledgements" do
      = text_field_tag :daterange, @daterange_field_text, class: "daterangepicker"
  .col-md-4
    .pull-right.clearfix
      = link_to "Download", reports_donation_acknowledgements_path(params.merge(format: :csv)), class: "btn btn-link"

%br
.row
  .col-md-12
    %table.table.table-responsive
      %thead
        %tr
          %th.col-md-3 Date
          %th.col-md-3 Donor
          %th.col-md-3 Receipt Status
          %th.col-md-3 Thank You Status
      %tbody
        - @donations.each do |donation|
          - donor = donation.donor
          - actions = donation.donation_actions
          - if donor
            %tr
              %td= link_to l(donation.date, format: :formal), donation_path(donation)
              %td= donor.full_name
              %td= actions.receipt_mode
              %td= actions.thank_you_mode
          - else
            %tr
              %td{colspan: 4} Donor Deleted
