.row
  .col-md-8
    = form_tag reports_form_10bd_path, method: :get, class: "form-inline" do |f|
      .row
        .form-group.col-md-4
          .input-group.col-md-12
            = text_field_tag :daterange, params[:daterange], class: "form-control daterangepicker auto-submit", placeholder: 'date range'
  .col-md-4
    .pull-right.clearfix
      - if @form10bd_data.present?
        = link_to "Download", reports_form_10bd_path(params.merge(format: :csv)), class: "btn btn-link"

%br

#form_80bd_listing
  - if @form10bd_data.present?
    - headers = @form10bd_data[0]
    - rows = @form10bd_data[1..-1]
    .table-responsive
      %table.table.table-striped.table-condensed
        %thead
          %tr
            - headers.each do |heading|
              %th= heading

        %tbody
          - rows.each do |row|
            %tr
              - row.each do |val|
                %td= val
  - else
    .row
      .col-md-12
        %h4.text-center Please select a date range