%div
  = form_tag reports_top_donors_path, method: :get, class: "form-inline" do
    = label_tag "Donations above ₹ "
    = text_field_tag :min_amount, params[:min_amount]

    = label_tag "Date filter:"
    = text_field_tag :daterange, @daterange_field_text, class: "daterangepicker", style: "width: 20%;"

    = submit_tag "Submit", class: "btn btn-primary btn-sm", name: nil

%div
  / Nav tabs
  %ul#top-donors-tabs.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "kind", "data-toggle" => "tab", :href => "#kind", :role => "tab"} Kind
    %li{:role => "presentation"}
      %a{"aria-controls" => "non-kind", "data-toggle" => "tab", :href => "#non-kind", :role => "tab"} Cash
    %li{:role => "presentation"}
      %a{"aria-controls" => "overall", "data-toggle" => "tab", :href => "#overall", :role => "tab"} Overall
  / Tab panes
  .tab-content
    #kind.tab-pane.active{:role => "tabpanel"}
      .table-responsive
        %table.table
          %thead
            %tr
              %th.col-md-4 Name
              %th.col-md-3 Phone
              %th.col-md-3 Email
              %th.col-md-2 Amount
          %tbody
            - @top_kind.each do |donation|
              - donor = donation.donor
              - if donor
                %tr
                  %td= donor.full_name
                  %td= donor.contact_number
                  %td= donor.email
                  %td= number_to_currency(donation.total_amount)
              - else
                %tr
                  %td{colspan: 3} Donor Deleted
                  %td= number_to_currency(donation.total_amount)
    #non-kind.tab-pane{:role => "tabpanel"}
      .table-responsive
        %table.table
          %thead
            %tr
              %th.col-md-4 Name
              %th.col-md-3 Phone
              %th.col-md-3 Email
              %th.col-md-2 Amount
          %tbody
            - @top_non_kind.each do |donation|
              - donor = donation.donor
              - if donor
                %tr
                  %td= donor.full_name
                  %td= donor.contact_number
                  %td= donor.email
                  %td= number_to_currency(donation.total_amount)
              - else
                %tr
                  %td{colspan: 3} Donor Deleted
                  %td= number_to_currency(donation.total_amount)
    #overall.tab-pane{:role => "tabpanel"}
      .table-responsive
        %table.table
          %thead
            %tr
              %th.col-md-4 Name
              %th.col-md-3 Phone
              %th.col-md-2 Email
              %th.col-md-1 Kind
              %th.col-md-1 Cash
              %th.col-md-1 Total
          %tbody
            - @top_overall.each do |donation|
              - donor = donation.donor
              - if donor
                - if @daterange_field_text.present?
                  - total_kind = Donation.between_dates(@start_date, @end_date).total_kind(donor.id)
                  - total_cash = Donation.between_dates(@start_date, @end_date).total_non_kind(donor.id)
                - else
                  - total_kind = Donation.total_kind(donor.id)
                  - total_cash = Donation.total_non_kind(donor.id)
                %tr
                  %td= donor.full_name
                  %td= donor.contact_number
                  %td= donor.email
                  %td= number_to_currency(total_kind)
                  %td= number_to_currency(total_cash)
                  %td= number_to_currency(donation.total_amount)
              - else
                %tr
                  %td{colspan: 5} Donor Deleted
                  %td= number_to_currency(donation.total_amount)
