!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Bal Asha Trust", :name => "description"}
    %meta{:content => "Bal Asha Trust", :name => "author"}

    %title Bal Asha Trust
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = yield :head

  %body
    .container
      = render 'shared/nav_bar'

      // container
      - if flash[:notice].present?
        = alert_box flash[:notice], dismissible: true, context: :success
      - if flash[:alert].present?
        = alert_box flash[:alert], dismissible: true, context: :danger

      = yield